.button{
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.table-row-cell {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #FFFFFF, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
    -fx-text-fill: #FFFFFF;
}
.table-cell {
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
    -fx-background-color: #444; /* list bg color */
    -fx-border-color: transparent #777 #fff transparent;
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: #FFFFFF;
}